<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
	<title>Employee Form</title>
	
	 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	
</head>


<body>
	<form action="#" th:action="@{/employees/save}"
		th:object="${employee}" method="POST">
		
		<input type="hidden" th:field="*{id}" />
		
		<input type="text" th:field="*{firstName}" placeHolder="First name" class="form-control- mb-4 col-4">

		<input type="text" th:field="*{lastName}" placeHolder="Last name" class="form-control- mb-4 col-4">
		
		
		
		<input type="text" th:field="*{email}" placeHolder="Email" class="form-control- mb-4 col-4">
		
				
		<button type="submit" class="btn btn-info col-2">save</button>
		
		
	</form>
	
	<hr>
	<a th:href="@{/employees/list}">Back to Employees List</a>


</body>